// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#header {
	background-color: #565D73;
	padding: 20px;
}

#content_container {
	padding-top: 40px;
	background-color: #22252F;
}

#header, .data_container {
	text-align: center;
}

.data_container {
	background-color: #363446;
	margin-bottom: 20px;
}

.data {
	padding: 30px;
}
